services:
    django_env:
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - DEBUG=1
            - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] django
            - CELERY_BROKER_URL=redis://redis:6379/0
            - result_backend=redis://redis:6379/1
        env_file:
            - ./.env
        build: .
        image: django-siemrules
        volumes:
            - .:/usr/src/app/
            - ./var_www:/var/www/
        command: >
                bash -c "
                        python manage.py makemigrations &&
                                python manage.py migrate
                        "
    django:
        extends: django_env
        command: python manage.py runserver 0.0.0.0:8008
        ports:
            - 8008:8008
        depends_on:
            redis:
                condition: service_started
    celery:
        extends: django_env
        command: >
                bash -c "
                  celery -A siemrules.worker worker -l INFO
                  "
        volumes:
            - .:/usr/src/app
            - ./var_www:/var/www/
        depends_on:
            - django
            - redis
    redis:
        image: "redis:alpine"