## core
django>=5.2.1
django-cors-headers>=4.7.0
django-cleanup>=9.0.0
django-filter>=25.1
django-storages[s3]>=1.14.6
djangorestframework>=3.16.0
drf-pydantic>=2.7.1
drf-spectacular>=0.28.0
celery>=5.5.3
psycopg2-binary>=2.9.10
hyperlink>=21.0.0
mistune>=3.1.3
redis>=6.2.0
stix2>=3.0.1
python-arango>=8.1.7

#sigma-converters
pySigma-backend-elasticsearch==1.1.6
pySigma-backend-kusto==0.4.4
pysigma-backend-splunk==1.1.3

## llms
llama-index-core>=0.12.39
llama-index-llms-anthropic
llama-index-llms-openai
llama-index-llms-openrouter
llama-index-llms-gemini
llama-index-llms-deepseek

## dogesec

txt2detection
stix2arango
file2txt
dogesec_commons

## production
gunicorn==23.0.0
